.nav-bar {
    background-color: aqua;
    color: blueviolet;
    height: 30px;
    margin: 35px;
    text-align: center;
}
.banner {
    background-color: red;
    height: 200px;
}
.content {
    background-color: blanchedalmond;
    height: 400px;
}
.footer {
    background-color: black;
    height: 100px;
    margin: 50px;
}
img {
    width: 100%;
    filter: blur(50%) invert(100%);
}
